//Couleurs de base
$color-primary:             #bada55;
$color-primary-highlight:   lighten($color-primary, 15%);
$color-primary-shadow:      darken($color-primary, 15%);

$color-white:               #fff;
$color-black:               #303044;
$color-grey:                #666;

$color-black-50:            rgba($color-black, .5);
$color-grey-light:          #ccc;
$color-grey-dark:           #333;

//boutons
$color-button:              $color-primary;
$color-button-hover:        $color-primary-shadow;

//texte
$color-text:                #636363;

//Lien
$color-link:                $color-primary;
$color-link-hover:          $color-primary-shadow;