
//font family
$ff-heading:      arial, Helvetica, sans-serfif;
$ff-normal:       arial, Helvetica, sans-serfif;

// grandeur text normal
$fz-text-normal:  16px;

//line height
$lh-thin:         1.1;
$lh-large:        1.5;

//font-weight
$fw-light:        300;
$fw-regular:      400;
$fw-semibold:     500;
$fw-bold:         700;